*{
    margin: 0;
    padding: 0;
}

.main {

}

.main_container {
    height: 100%;
    width: 100%;
    background-image: url(/images/mountains.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.main-box {
    width: 600px;
    height: 750px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px red;
    border-radius: 30px;
}


