*{
    margin: 0;
    padding: 0;
}

.main {

}

.main_container {
    height: 100%;
    width: 100%;
    background-image: url(/images/mountains.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.main-box {
    width: 600px;
    height: 750px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
}

.main_content {

}

#email_box {
   
}

#password_box {
   
}

.login_button {

}

.register_button {

}


